.event-card {
  padding: 16px;
  background-color: var(--card-bg);
  border-radius: 8px;
  box-shadow: var(--card-shadow);
  margin-bottom: 16px;
  border-left: 4px solid;
  transition: box-shadow 0.3s ease;
  color: var(--text-primary);
}

.event-card:hover {
  box-shadow: var(--card-hover-shadow);
}

/* Status-based colors */
.event-card.completed {
  border-left-color: #10b981; /* green */
}

.event-card.pending {
  border-left-color: #3b82f6; /* blue */
}

.event-card-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: -20px;
}

.event-card-text {
  max-width: 80%;
}

.event-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 8px;
  text-decoration: none;
}

.event-card.completed .event-title {
  text-decoration: line-through;
  color: #9ca3af; /* gray */
}

.event-description {
  color: var(--text-secondary);
  margin: 4px 0;
}

.event-startdate {
  font-size: 16px;
  color: var(--text-primary);
}

.event-enddate {
  font-size: 14px;
  color: var(--text-secondary);
  margin-top: -20px;
  margin-left: 25px;
}

.event-location {
  font-size: 14px;
  color: var(--text-secondary);
  margin-top: -10px;
}

.event-divider {
  border: none;
  border-top: 1px solid var(--border-color);
  margin: 12px 0;
  width: 100%;
}

.event-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.edit-button,
.delete-button {
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  color: var(--text-secondary);
  transition: color 0.2s ease;
}

.edit-button:hover {
  color: var(--text-primary);
}

.delete-button:hover {
  color: #ef4444;
}

.event-meta {
  font-size: 12px;
  color: var(--text-secondary);
  margin-top: 1px;
  margin-bottom: 0px;
  opacity: 0.8;
}
